$color-main: #3eb4ff; // 主色调
$color-white: #fff;
$color-gray: #777;
$color-red: #f00;
$color-whitegray: #eeeeee;

$screen-width: 750px;

$header-height: 100px;
$header-font-size: 42px;
$main-font-size: 36px;
$exam-font-size:32px;

$border-width: 2px;
$border-color: #DCDCDC;
$border-radius: 10px;
$circle-bottom-margin: 50px;

$redBag-size: 200px;

$image-width: 750px;
$image-height: 300px;

$input-height: 80px;
$input-font-size: 30px;

$fileIcon-size: 70px;
