@import '../../common/variables.scss';
@import '../../common/mixin.scss';
@mixin result_input($width) {
    width: $width;
    height: 70px;
    border-width: 2px;
    color:#666;
    border-style: solid;
    border-color:#3eb4ff;
    padding-left: 20px;
    font-size: 28px; 
}
@mixin fontSize($color:#666) {
    height: 80px;
    line-height: 80px;
    font-size: $exam-font-size;
    color: $color;
}
.addQs {
    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__list{
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 100px;
        flex:1;
    }
    &__name {
        flex-direction: row;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__question{
        padding-bottom: 50px;
        border-top-style:dotted;
        border-top-width:3px;
        border-color: #999;
    }
    &__index{
        flex-direction: row;
        align-items: center;
    }
    &__text{
       @include fontSize();
    }
    &__text-bold{
        @include fontSize(#333);
    }

    &__textarea{
        @include result_input(710px);
        height: 150px;
        padding: 10px;
    }
    &__addImg{
        flex-direction: row;
    }

    &__realImg{
        width: 108px;
        height: 108px;
    }
    
    &__delete{
        width: 64px;
        height: 64px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    &__add {
        width: 128px;
        height: 128px;
        padding-left: -20px;
    }

    &__input--option {
       @include result_input(520px);
    }

    &__input--fill {
        @include result_input(700px);
     }
    &__options{
        flex-direction: row;
        align-items: center;
    }
    &__result{
        font-size: 20px;
        width: 500px;
        height: 100px;
        padding: 5px;
        color: #666666;
        border-width: 2px;
        border-style: solid;
        border-color: #41B883;
    }
    &__check{
        width: 72px;
        height: 72px;;
    }
    &__footer {
        order: 2;
        position: fixed;
        bottom: 20px;
        right:20px;
        width: 100px;
        @include layout-flex(row, flex-end);
    }
    &__popup{
        width: $screen-width;
        height: 100px;
        font-size: $main-font-size;
        line-height: 100px;
        padding-left: 30px!important;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $border-color;
    }
}